<!-- Nav bar contains Heading and AboutUs and ContanctUs button -->
<app-nav-bar></app-nav-bar>
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Job Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home/#aboutus">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home/#contactus">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <!-- Corousel for Feature 1 -->
    <div class="carousel-item bg-first active">
      <div class="text-white text-center" style=" margin-top: 200px;">
        <h2 class="display-4">Manage your job applications</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima excepturi quo sed obcaecati repudiandae,
          itaque, accusantium!</p>
        <br><br>
        <a href="home/#feature_1"><button type="button" class="btn btn-outline text-white border-white">Learn
            More</button></a>
      </div>
    </div>
    <!-- Corousel for Feature 2 -->
    <div class="carousel-item bg-second">
      <div class="text-white text-center" style=" margin-top: 200px;">
        <h2 class="display-4">Search Jobs</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima excepturi quo sed obcaecati repudiandae,
          itaque, accusantium!</p>
        <br><br>
        <a href="home/#feature_2"><button type="button" class="btn btn-outline text-white border-white">Learn
            More</button></a>
      </div>
    </div>
    <!-- Corousel for Feature 3 -->
    <div class="carousel-item bg-third">
      <div class="text-white text-center" style=" margin-top: 200px;">
        <h2 class="display-4">Share Experience</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima excepturi quo sed obcaecati repudiandae,
          itaque, accusantium!</p>
        <br><br>
        <a href="home/#feature_3"><button type="button" class="btn btn-outline text-white border-white">Learn
            More</button></a>
      </div>
    </div>
    <!-- Corousel for Feature 4 -->
    <div class="carousel-item bg-forth">
      <div class="text-white text-center" style=" margin-top: 200px;">
        <h2 class="display-4">Never Miss Deadlines</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima excepturi quo sed obcaecati repudiandae,
          itaque, accusantium!</p>
        <br><br>
        <a href="home/#feature_4"><button type="button" class="btn btn-outline text-white border-white">Learn
            More</button></a>
      </div>
    </div>
    <!-- Corousel for Feature 5 -->
    <div class="carousel-item bg-fifth">
      <div class="text-white text-center" style=" margin-top: 200px;">
        <h2 class="display-4">Track Activities and Contancts</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima excepturi quo sed obcaecati repudiandae,
          itaque, accusantium!</p>
        <br><br>
        <a href="home/#feature_5"><button type="button" class="btn btn-outline text-white border-white">Learn
            More</button></a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Feature Details -->
<section class="py-5" id="feature_1">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8">
        <h1 class="font-weight-light">Manage Job Applications</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad praesentium officiis ipsum fuga quod
          nemo consequatur
          iste voluptatibus, qui pariatur aliquam temporibus animi eaque suscipit assumenda possimus consectetur culpa
          architecto.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-6 col-md-3 p-5 rounded-circle bg-img-light">
        <img class="img-fluid" src="https://image.flaticon.com/icons/svg/2868/2868034.svg" />
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="feature_2">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-6 col-md-3 p-5 rounded-circle bg-img-light">
        <img class="img-fluid" src="https://image.flaticon.com/icons/png/512/3003/3003418.png" />
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <h1 class="font-weight-light">Search Jobs</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad praesentium officiis ipsum fuga quod
          nemo consequatur
          iste voluptatibus, qui pariatur aliquam temporibus animi eaque suscipit assumenda possimus consectetur culpa
          architecto.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="feature_3">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8">
        <h1 class="font-weight-light">Share Experience</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad praesentium officiis ipsum fuga quod
          nemo consequatur
          iste voluptatibus, qui pariatur aliquam temporibus animi eaque suscipit assumenda possimus consectetur culpa
          architecto.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-6 col-md-3 p-5 rounded-circle bg-img-light">
        <img class="img-fluid" src="https://image.flaticon.com/icons/png/512/1717/1717683.png" />
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="feature_4">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-6 col-md-3 p-5 rounded-circle bg-img-light">
        <img class="img-fluid" src="https://image.flaticon.com/icons/png/512/2936/2936612.png" />
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <h1 class="font-weight-light">Never Miss Deadlines</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad praesentium officiis ipsum fuga quod
          nemo consequatur
          iste voluptatibus, qui pariatur aliquam temporibus animi eaque suscipit assumenda possimus consectetur culpa
          architecto.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="feature_5">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8">
        <h1 class="font-weight-light">Track Activities and Contancts</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad praesentium officiis ipsum fuga quod
          nemo consequatur
          iste voluptatibus, qui pariatur aliquam temporibus animi eaque suscipit assumenda possimus consectetur culpa
          architecto.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-6 col-md-3 p-5 rounded-circle bg-img-light">
        <img class="img-fluid" src="https://www.flaticon.com/premium-icon/icons/svg/2952/2952972.svg" />
      </div>
    </div>
  </div>
</section>

<!-- About Us Section -->
<section class="py-5" id="aboutus">
  <div class="container text-center">
    <h1 class="font-weight-bold">About Us</h1>
    <p class="lead">A group of enthusiastic developers came together to contribute to the society and help students or
      any job seekers to
      find a job postings, manage their job applications, to get job and to share their journery with community.<br>
      Six Pillars of this initiative are:
    </p>
    <div class="row justify-content-center">
      <!-- Profile 1 -->
      <!-- <div class="col-2 col-md-0"></div> -->
      <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
        <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
      </div>
      <div class="col-8 col-md-3 py-2 px-3 text-left">
        <h5 class="font-weight-light text-bold">Anudish Jinturkar</h5>

        <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
      </div>
      <!-- Profile 2 -->
      <!-- <div class="col-2 col-md-0"></div> -->
      <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
        <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011284.svg" />
      </div>
      <div class="col-8 col-md-3 py-2 px-3 text-left">
        <h5 class="font-weight-light text-bold">Jan Chayopathum</h5>

        <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
      </div>
      <!-- Profile 3 -->
      <!-- <div class="col-2 col-md-0"></div> -->
      <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
        <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
      </div>
      <div class="col-8 col-md-3 py-2 px-3 text-left">
        <h5 class="font-weight-light text-bold">Parth Bagaria</h5>

        <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
      </div>
      <!-- Profile 4 -->
      <!-- <div class="col-2 col-md-0"></div> -->
      <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
        <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
      </div>
      <div class="col-8 col-md-3 py-2 px-3 text-left">
        <h5 class="font-weight-light text-bold">Roshan Patel</h5>

        <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
      </div>
      <!-- Profile 5 -->
      <!-- <div class="col-2 col-md-0"></div> -->
      <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
        <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
      </div>
      <div class="col-8 col-md-3 py-2 px-3 text-left">
        <h5 class="font-weight-light text-bold">Tejas Patel</h5>

        <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
      </div>
      <!-- Profile 6 -->
      <!-- <div class="col-2 col-md-0"></div> -->
      <div class="col-2 offset-2 col-md-1 offset-md-0 p-2 rounded-circle">
        <img class="img-fluid w-auto" src="https://image.flaticon.com/icons/svg/3011/3011279.svg" />
      </div>
      <div class="col-8 col-md-3 py-2 px-3 text-left">
        <h5 class="font-weight-light text-bold">Zankrut Thakkar</h5>

        <p class="font-weight-lighter text-muted"> MACS Graduate Student <br> Dalhousie University</p>
      </div>

    </div>
  </div>
</section>

<!-- Contact Us Section -->
<section class="py-5" id="contactus">
  <div class="container ">
    <h1 class="font-weight-bold text-center">Contact Us</h1>
    <div class="row">
      <div class="col-9 offset-3 col-md-4 offset-md-2 p-2 my-4 py-5">
        <p class="lead"> <span class="font-weight-bold"> You can reach us at: </span><br> 2060, Quingate Pl, <br>
          Halifax, <br> NS B3L 4P7 <br> contactus@jobtracker.com</p>
      </div>
      <!-- Contanct Us Form -->
      <div class="col-12 col-md-6 my-4 p-4 justify-content-center bg-img-light">
        <form class="needs-validation" name="contanctForm">
          <!-- Email ID -->
          <div class="col p-2 mb-3">
            <label for="email">Email ID *</label>
            <input type="text" class="form-control" id="email" #email="ngModel" ngModel name="email"
              placeholder="Email ID" required pattern="^[A-z0-9._%+-]+@[A-z0-9.-]+\.[A-z]{2,4}$">
            <div class="alert-danger" *ngIf="email.touched && !email.valid">
              <span *ngIf="email.errors.required">Your email id is required.</span>
              <span *ngIf="email.errors.pattern">Invalid email address.</span>
            </div>
          </div>
          <!-- Message -->
          <div class="col p-2 mb-3">
            <label for="message">Message *</label>
            <input type="text" class="form-control" id="message" #message="ngModel" name="message" ngModel
              placeholder="Message" required>
            <div class="alert-danger" *ngIf="message.touched && !message.valid">
              <span *ngIf="message.errors.required">Your message is required.</span>
            </div>
          </div>
          <div class="col p-2">
            <button class="btn btn-dark btn-md btn-block p-2" type="submit" [disabled]="( !email.valid) ||  
          ( !message.valid)" (click)="sendMessage()">SEND</button>
          </div>
          <div class="col p-2">
            <p class="alert alert-success" *ngIf="isSend">Message send successfully!</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="page-footer bg-dark p-3 text-white text-center">
  <div class="container">
    <h5>&copy; Copyright 2020: Job Tracker Company</h5>
  </div>

</footer>

<!-- </html> -->